<ion-tabs>

  <ion-tab tab="asia">
    <ion-router-outlet name="asia"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="community">
    <ion-router-outlet name="community"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar id="tabs" slot="bottom" style="border: none">

    <ion-tab-button tab="asia" href="/tabs/(asia:asia)">
      <ion-icon src="assets/icon/svg/asia-tab.svg"></ion-icon>
      <ion-label>Asia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community" href="/tabs/(community:community)">
      <ion-icon src="assets/icon/svg/community-tab.svg"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon src="assets/icon/svg/profile-tab.svg"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
