<!-- TOOLBAR -->
<ion-header no-border>
  <ion-toolbar color="asia-toolbar">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-thumbnail>
                    <ion-img src="assets/img/camera.png" style="width:85%; height: 85%" (click)="takePicture()"> </ion-img>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-title></ion-title>  
  </ion-toolbar>
</ion-header>

<!-- CHATBOT -->
<ion-content>
    <div id="chat">
        <!-- MESSAGES CONTAINER -->
        <div id="chat-wrap" class="bubble-wrap">
            <div class="message-container">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar class="responsive-img">
                                <img src="assets/img/asia_avatar.png">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="10" style="padding-left: 5px">
                            <div class="bubble say first-asia-message">
                                <span class="bubble-content" >{{asiaFirstString}}
                                </span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <!--
            <div class="message-container">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                        </ion-col>
                        <ion-col size="10" style="padding-left: 5px">
                            <div class="bubble say">
                                <span class="bubble-content">Second-Message
                                </span>
                            </div>  
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div> 
            <div class="message-container reply-container first-reply">
                <div class="bubble reply">
                    <span class="bubble-content">
                        <span class="bubble-button bubble-pick">It's ok</span>
                    </span>
                </div>
            </div>-->
        </div>
    </div>
</ion-content>
<!-- CHATBOX -->
<ion-footer>
    <ion-toolbar color="footer">
        <ion-grid>
            <ion-row>
                <!-- VOCAL INPUT AND TEXTUAL INPUT -->
                <ion-col size="{{!this.vocalInput?10:12}}">
                    <div [ngClass]="{'input-and-button-wrapper':true,'stretchRight':vocalInput,'stretchLeft':!vocalInput}">
                        <ion-grid *ngIf="!vocalInput">
                            <ion-row>
                                <ion-col size="2" style="display: flex;">
                                    <button class="voice-button animated bounceIn" (click)="switchToVocal()">
                                        <ion-icon slot="icon-only" src="assets/icon/svg/voice-record.svg"></ion-icon>
                                    </button>
                                </ion-col>
                                <ion-col size="10" style="display: flex;">
                                    <input id="chatbox" type="text" placeholder="Parla con Asia!" [(ngModel)]="this.textMessage">
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                       <!-- STOP VOCAL INPUT BUTTON -->
                        <button class="stop-voice-button animated bounceIn" *ngIf="vocalInput" (click)="switchToTextual()">
                            <ion-icon name="ios-square-outline" style="font-size: x-large;"></ion-icon>
                        </button>
                        <!-- VOCAL INPUT ANIMATED WAVES -->
                        <div class="wavesContainer animated bounceIn" *ngIf="vocalInput">
                          <div class="wave wave1"></div>
                          <div class="wave wave2"></div>
                          <div class="wave wave3"></div>
                          <div class="wave wave4"></div>
                          <div class="wave wave5"></div>
                        </div>
                    </div>
                </ion-col>
                <!-- SEND TEXT MESSAGE BUTTON -->
                <ion-col size="2" *ngIf="!this.vocalInput"  style="padding: 0;">
                    <button class="send-message-button animated bounceIn" (click)="sendMessage()">
                        <img id="send-btn-img" src="assets/icon/svg/send_btn_arrow.svg">
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
